{% extends 'base.html.twig' %}

{% set page_title = 'Index' %}

{% block body %}
<div class="ks ks-2g"><span>2G</span></div>
<div class="ks ks-4g"><span>4G</span></div>
<div class="ks ks-16g"><span>16G</span></div>
<div class="ks ks-24g"><span>24G</span></div>
{% endblock %}